<div class="container card">
  <div class="card-body">
    <div class="order-container" *ngIf="currentOrder">
      <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
          <div class="text-secondary">
            <h3> Customer: {{currentOrder.Customer.CustomerName}}</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3 class="text-right text-secondary">Order</h3>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>Thank you for shopping from our GitHub store and for your order.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p class="text-right">ORDER <span class="text-primary">#10000048</span></p>
        </div>
      </div>
      
      <div class="row gutters issue-container" *ngFor="let item of currentOrder.OrderItem">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
          <div class="issue-title">
            {{item.Description}}
          </div>
          <div class="issue-details">
            #{{item.ItemID}}
          </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
          <input class="number-format" (change)="UpdateItem(item)" [(ngModel)]="item.Quantity" />
          
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
          {{item.UnitPrice}}
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 item-price ">
          {{item.Quantity * item.UnitPrice}}
        </div>
      </div>
      <div class="row gutters">
        <div class="col-lg-6 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <table class="table plain">
            <tbody>
              <tr>
                <td>
                  <p class="text-right text-secondary"><strong>Grand Total (Incl.Tax)</strong></p>
                </td>
                <td>
                  <p class="text-right text-secondary"><strong>{{currentOrder.TotalPrice}}</strong></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
